.dataTables_wrapper .dataTables_paginate  .paginate_button
{
  padding: 0px !important;
  margin: 0px !important;
}

div.dataTables_length select
{
    width:50% !important;
}

.category-image
{
	width:30px;
	height: 30px;
    text-align:center;
    vertical-align: center;
}

td textarea {
    width: 100%;
    height: 100%
}
