html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, footer
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

*{
	font-family: 'Roboto', sans-serif;
}

.form-control
{
    border: 1px solid black;
}

html
{
    scroll-behavior: smooth;
}

body
{

    background: #fff;
}

*, ::after, ::before
{
    box-sizing: border-box;
}

*, ::after, ::before
{
    box-sizing: border-box;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    background-color: #f8f9fa;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 0px;
    margin-bottom: 0px;
}

.card-header
{
    padding:0px !important;
}


.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;

}


.card-group
{
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 20px;

}

.card-img-top
{
    width: 100%;
    height: 18vw;
    object-fit: cover;
}


.card-img
{
    overflow: hidden;

}

.card-img img
{
    transition: all 1.5s ease;
    width: 100%;
}

.carousel-item img
{
    width: 100%;
    height: 45rem;

}


@media screen and (max-width: 786px)
{

    .card-img-top
    {
        height: auto;
    }


}


a.nav-link:hover
{
    color: inherit;
}

.search-bar
{
    width: 40%;
    margin-left: 4%;
}

.checked
{
    color :#ffd900;
}


.login-bg-img ,
.register-bg-img
{

    font-family: 'Mukta', sans-serif;
    height:100vh;
    min-height:550px;
    background-color: rgba(43, 41, 41, 0.808);
    background-image: url('../../assets/images/image4.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
    overflow-y: hidden;
}


.login-form-title,
.register-form-title
{
  text-align: center;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto 10px;

}


.login-form-title h1,
.register-form-title h1
{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}


.login-form-title  h1 strong  ,
.register-form-title h1 strong
{
  font-weight: bold;
  color: #110dfdda;
  letter-spacing: 1px;
}


.login-form-top
{
	overflow: hidden;
	margin: 0px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
    margin:0px !important;
    padding:20px;
}


.login-form-top .form-top-left
{
	float: left;
	width: 75%;
	padding-top: 25px;
}

.login-form-top .form-top-left h3
{
    margin-top: 0;
    margin-bottom:10px;
}

.login-form-top .form-top-right
{
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}
